.scrollTop {
    background-color: rgba(168, 0, 164, .5);
    
}

.scrollTop:hover {
    background-color: #6d006a;
}

/* actus */
#actus h2 {
    text-align: center;
    background-color: #A905A9;
    color: #fff;
    border-radius: 20px;
    margin: 20px auto;
    padding: 5px;
    font-size: 2.5rem;
}

#actus p {
    margin: 0 auto;
}

#actus .img-activite {
    margin: 25px auto;
    width: 90%;
    height: 239px;
    overflow: hidden;
    border-radius: 50px;
}

#actus .img-activite img {
    width: 100%;
    border-radius: 50px;

}

/* wwwwwwwwwwwwwwwww Media query wwwwwwwwwwwwwwwww  */
@media screen and (min-width: 768px) {
    #actus .img-activite {
        width: 48%;
    }
    
}

@media screen and (min-width: 1500px) {
    .carousel-item {
        height: 400px;
    }
}
