@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype'),
         url('../fonts/comfortaa/Comfortaa-Regular.woff') format('woff');
}

/* Reset Global */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa-Regular', Arial, sans-serif;
    font-size: 1.6rem;
    background-image: url("../images/nuages.jpg");
}


/*wwwwwwwwwwwwwwwww Header et ses contenus wwwwwwwwwwwwwwwww*/
body > header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 16;
    box-shadow: 0 0 10px gray;
}

/* logo */
#logo {
    width: 80px;
}

.logo_desktop {
    display: none;
}

.menu {
    padding: 0 20px;
    position: relative;
    display:flex;
    justify-content: space-between;
    z-index: 20;
    height: 12vh;
    background: #ffffff;
    align-items: center;

}

.menu h1 a {
    font-size: 3rem;
    color: #a905a9;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    text-transform: uppercase;
}

/* menu navigation version desktop */
nav .menu .navigation-links {
    display: flex;
    margin: auto 0;
}

/* menu hamburger */
nav button {
    width: 35px;
    background-color: transparent;
}

nav button img {
    width: 100%;
}

/* liste menu navigation */
nav ul {
    display: flex;
    width: 100%;
    height: 88vh;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    background-color: #a905a9;
    right: 0;
    bottom: 0;
    transition-duration: 500ms;
    transition-property: top;
    z-index: 10;
    top: 120vh;

}

.open {
    top: 12vh;
    list-style: none;
}

nav ul li:first-child {
    border-top: none;
} 

nav ul li {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    border-top: 1px solid white;
}

nav span {
    width: 100%;
    display: block;
}

nav li a {
    color: white;
}

nav li a:hover {
    color: wheat;
}

nav li a img{
    width: 35px;
    margin-bottom: 10px;
}

/*wwwwwwwwwwwwwwwww Main et ses contenus wwwwwwwwwwwwwwwww*/
a:hover {
    text-decoration: none;
}

main {
    padding: 130px 0 250px 0;
    margin: 0 auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 20px white;
}

/* fil d'ariane */
main .ariane {
    list-style: none;
    padding: 0 5px;
    align-items: flex-start;
    flex-direction: column;
}

main .ariane li {
    margin-left: 10px;
}

main .ariane .home {
    width: 25px;
}

main .ariane .next {
    width: 15px;
    margin-right: 20px;
}

main .ancre li a {
    color: white;
}

/* ancres */
main .ancre {
    list-style: none;
    margin: 25px auto;
    padding: 0 15px;
    flex-wrap: wrap;
}

main .ancre li {
    text-align: center;
    margin: 5px 1px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.scrollTop {
    position: fixed;
    right: 10%;
    bottom: 20%;
    border-radius: 20px;
    padding: 12px;
    width: 70px;
    height: 70px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 2;
}

/*wwwwwwwwwwwwwwwww Footer et ses contenus wwwwwwwwwwwwwwwww*/
footer {
    position: relative;
    background-color: white;
    color: white;
}
/* image nuage */
footer .nuage {
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    z-index: 1;

}

/* arc-en-ciel */
footer div {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

footer .arc-en-ciel {
    width: 100%;
    position: absolute;
    transform: translateY(-80%);
}

/* liste réseaux sociaux */
#reseaux {
    width: 80%;
    padding: 25px 0;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50px;
    background:white;
    box-shadow: 0 3px 6px #aaa;
}

#reseaux h2 {
    color: gray;
    text-align: center;
    margin-bottom: 50px;
}

footer ul {
    list-style: none;
}

footer ul li {
    transition: .5s;
}

footer ul li:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

footer ul img {
    width: 33px;
    margin: 0 10px;
}

/* copyright */
footer p {
    text-align: center;
    background-color: #66b0fa;
    margin: 0;
    padding: 10px 0;
}

.mentions {
    border-bottom: 1px solid white;
}


/* wwwwwwwwwwwwwwwww Media query wwwwwwwwwwwwwwwww  */
@media screen and (min-width: 370px) {
    main .ancre {
        flex-wrap: nowrap;
    }
    
}

@media screen and (max-width: 767px) {
    .navigation-links {
        display: none !important;
    }

}

@media screen and (min-width: 768px) {
    #logo {
        display: none;
    }

    .logo_desktop {
        display: inherit;
        width: 40px;
    }

    .menu h1 {
        position: absolute;
        transform: translateY(130%);
        background-color: #fff;
        padding: 5px 20px;
        box-shadow: 0 8px 6px gray;
        border-radius: 0 0 20px 20px;
    }

    .menu {
        justify-content: center;
    }

    main {
        padding: 160px 50px 350px 50px;
    }

    main .ariane {
        flex-direction: row;
    }

    nav button {
        display: none !important;
    }

    .navigation-links {
        width: 100%;
    }

    .navigation-links img {
        width: 20px;
    }

    .navigation-links a {
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        border-bottom: 1px solid #007bff;
    }

    .navigation-links a:first-child:hover {
        background-color: #a905a9;
        color: white;
        border: none;
    }

    .navigation-links a:nth-child(2):hover {
        background-color: #03DDDC;
        color: white;
        border: none;
    }

    .navigation-links a:nth-child(3):hover {
        background-color: #ff822e;
        color: white;
        border: none;
    }

    .navigation-links a:nth-child(4):hover {
        background-color: #93c54b;
        color: white;
        border: none;
    }

    .navigation-links a:nth-child(5):hover {
        background-color: #C72575;
        color: white;
        border: none;
    }

    footer div {
        width: 85%;
    }

    #reseaux {
        width: 40%;
    }

}

@media screen and (min-width:992px) {
    main {
        margin: 0 auto;
        width: 75%;
        padding: 160px 50px 400px 50px;
    }

    footer div {
        width: 75%;
    }

    #reseaux {
        width: 35%;
    }
    
}

@media screen and (min-width:1200px) {
    .menu {
        width: 65%;
        margin: 0 auto;
    }

    main {
        margin: 0 auto;
        width: 65%;
        padding: 160px 50px 450px 50px;
    }

    footer div {
        width: 65%;
    }

    #reseaux {
        width: 30%;
    }

    .navigation-links {
        width: 90%;
    }

    #logo {
        margin-right: 25px;
    }
}

